<div class="mt-3">
  <p class="text-body-2">
    Famoにご登録いただきありがとうございます。
  <p>
  <p class="text-body-2">
    下記リンクをクリックしてアカウントを認証してください。
  <p>
  <%= link_to @url, @url %>
  <p class="text-body-2">
    ＊リンクの有効期限は２４時間以内となっております。
  <p>
  <p class="text-body-2">
    ＊リンクの有効期限が切れている場合はお手数ですが、再度認証メールを取得して下さい。
  <p>
  <p class="text-body-2">
    ＊アカウントを認証するまでは、ログインすることができません。
  <p>
</div>
