<div class="mt-3">
  <p class="text-body-2">
    <%= "#{@user.name}" %>様
  <p>
  <p class="text-body-2">
    アカウントの認証が完了しました。
  <p>
  <p class="text-body-2">
    下記リンクよりFamoにアクセスしてください。
  <p>
  <%= link_to @url, @url %>
</div>
