<div class="mt-3">
  <p class="text-body-2">
    下記リンクよりパスワードの再設定を行ってください。
  <p>
  <%= link_to @url, @url %>
  <p class="text-body-2">
    ＊リンクの有効期限は２４時間以内となっております。
  <p>
  <p class="text-body-2">
    ＊リンクの有効期限が切れている場合はお手数ですが、再度メールを取得して下さい。
  <p>
</div>
